@import '../../style/color.scss';

.HelloGoal {
  padding-bottom: 64px;
  border-bottom: 10px solid rgba(196, 196, 196, 0.3);
}
.HelloLogin {
  padding-bottom: 64px;
  border-bottom: 10px solid rgba(196, 196, 196, 0.3);
}
// 공통 스타일

.FeedIntroMsg {
  font-family: Noto Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  margin: 30px auto 0 32px;
  p {
    line-height: 27px;
    color: $blue;
    font-weight: 400;
  }
  .hightligter {
    position: relative;
    &::after {
      content: '';
      width: 105%;
      height: 62%;
      left: -4px;
      top: 7px;
      position: absolute;
      background: #ff8574 50%;
      opacity: 0.5;
      z-index: -100;
    }
    &-none {
      font-weight: 400;
    }
  }
}

.FeedContent {
  padding: 20px 34px;
  &__title {
    font-family: Noto Sans;
    font-size: 15px;
    font-weight: 600;
    line-height: 14px;
    text-align: left;
    color: $blue;
  }
  &-userProfile {
    height: 45px;
    width: 45px;
    border-radius: 50%;
    background: #c4c4c4;
    display: inline-block;
    img {
      width: 100%;
    }
  }
  &-userId {
    display: inline-block;
    margin-left: 13px;
    font-size: 15px;
  }
  &-header {
    margin-top: 22px;
    overflow: hidden;
    width: 100%;
    &_left {
      float: left;
      align-items: center;
      justify-content: center;
      display: flex;
    }
    &_right {
      float: right;
      margin-top: 5px;
    }
    .FeedContent-secret {
      margin-right: 5.6px;
    }
  }
  .ant-image-img {
    width: 100vh;
    height: 100%;
  }
}

// ---------------------------

.FeedComment {
  width: 100%;
  &__header {
    overflow: hidden;
    margin-top: 10px;
    height: 30px;
    &--left {
      float: left;
      display: flex;
      height: 100%;
      span {
        align-items: center;
        justify-content: center;
        display: flex;
        margin-left: 17.7px;
        color: $grey;
      }
    }
    &--right {
      float: right;
      line-height: 30px;
    }
  }
  &__center {
    margin-top: 14px;
    h1 {
      font-size: 18px;
      font-weight: 600;
    }
    p {
      font-size: 14px;
      line-height: 0;
      margin-bottom: 0.5em;
    }
  }
  &__footer {
    button {
      margin-top: 10px;
      font-size: 14px;
      color: #c4c4c4;
    }
  }
}
