@import '../../style/color.scss';

.HelloGoal {
  padding-bottom: 64px;
  border-bottom: 10px solid rgba(196, 196, 196, 0.3);
}
.HelloLogin {
  padding-bottom: 64px;
  border-bottom: 10px solid rgba(196, 196, 196, 0.3);
}
// 공통 스타일

.FeedIntroMsg {
  font-family: Noto Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  margin: 30px auto 0 32px;
  p {
    line-height: 27px;
    color: $blue;
    font-weight: 400;
  }
  .hightligter {
    position: relative;
    &::after {
      content: '';
      width: 105%;
      height: 62%;
      left: -4px;
      top: 7px;
      position: absolute;
      background: #ff8574 50%;
      opacity: 0.5;
      z-index: -100;
    }
    &-none {
      font-weight: 400;
    }
  }
}

// ----------------------------

.FeedContent {
  padding: 0 34px;
  border-bottom: 10px solid #f4f4f4;
  overflow: hidden;
  &__title {
    font-family: Noto Sans;
    font-size: 15px;
    font-weight: 600;
    line-height: 14px;
    text-align: left;
    color: $blue;
    &.feedtxt {
      margin-top: 27px;
      font-weight: 700;
    }
  }
  &-userProfile {
    height: 2.2857142857142856em;
    width: 2.2857142857142856em;
    border-radius: 50%;
    background: #c4c4c4;
    display: inline-block;
    img {
      width: 100%;
    }
  }
  &-userId {
    display: inline-block;
    margin-left: 11px;
    font-size: 1em;
  }
  &-header {
    margin-top: 22px;
    overflow: hidden;
    width: 100%;
    &_left {
      float: left;
      align-items: center;
      justify-content: center;
      display: flex;
    }
    &_right {
      float: right;
      margin-top: 5px;
    }
    .FeedContent-secret {
      margin-right: 5.6px;
    }
  }
  .ant-image-img {
    width: 100vh;
    height: 100%;
  }
}

// ---------------------------

.FeedComment {
  width: 100%;
  margin-top: 24px;
  &__header {
    overflow: hidden;
    margin-top: 10px;
    height: 30px;
    &--left {
      float: left;
      height: 100%;
      span {
        align-items: center;
        justify-content: center;
        margin-left: 12px;
        color: $grey;
        display: inline-block;
        margin-bottom: 11px;
      }
      button {
        vertical-align: middle;
        height: 100%;
      }
    }
    &--right {
      float: right;
    }
  }
  &__center {
    h1 {
      font-size: 18px;
      font-weight: 600;
    }
  }
  &__footer {
    button {
      margin-top: 10px;
      font-size: 14px;
      color: #c4c4c4;
    }
  }
  &__comment {
    margin-top: 40px;
  }
}

.slick-track {
  img {
    width: 100%;
  }
}

.feedSlide {
  position: relative;
  .sliderBtn {
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 7%;
    button {
      width: 7%;
      height: 100%;
      position: absolute;
      svg {
        width: 2em;
        height: 2em;
      }
    }
    .next {
      left: 0;
    }
    .pre {
      right: 0;
    }
  }
}

// ---------------------
// Feed Upload

.uploadWrap {
  padding: 0 4.428571428571429em;
  font-size: 14px;

  .ant-upload.ant-upload-select-picture-card {
    width: 100% !important;
    height: 200px !important;
  }
  .uploadArea{
    width:200px;
    height:200px;
    background-color:#D3D3D3;
    display:flex;
    justify-content:center;
    align-items: center;

    .uploadAreaPlus{
      
    }
  }
  
  hr {
    margin-top: 32px;
  }

  textarea {
    width: 100%;
    border: none;
  }
  &__ImgDel {
    position: relative;
    width: 100px;
    height: 100px;
    &--delet {
      position: absolute;
      right: 2px;
      top: 2px;
      svg {
        opacity: 0.8;
      }
    }
  }
  .PreNextBtn {
    text-align: center;
    button {
      width: 10em;
      height: 2.142857142857143em;
      font-size: 14px;
    }
  }
}

//-------------------------------

.FeedCommentView {
  width: 100%;
  margin-top: 10px;
  p {
    margin-bottom: auto;
  }
  &-userProfile {
    width: 7.555%;
    display: inline-block;
    vertical-align: top;
    span {
      height: 2.2857142857142856em;
      width: 2.2857142857142856em;
      border-radius: 50%;
      background: #c4c4c4;
      img {
        width: 100%;
      }
    }
  }
  &__desc {
    display: inline-block;
    padding-left: 13px;
    margin-top: 4px;
    margin-bottom: 24px;
    width: 92.44%;
  }
  &__userId {
    font-weight: 700;
  }
  &__Comment {
    width: 100%;
    &--desc {
      display: inline-block;
      float: left;
    }
    &--like {
      float: right;
    }
    &::after {
      content: '';
      display: table;
      clear: both;
    }
  }
  &__detail {
    width: 100%;
    overflow: hidden;
    &--date {
      display: inline-block;
      vertical-align: top;
    }
    &--comment {
      font-weight: 700;
      vertical-align: top;
      margin-left: 15px;
    }
    &--like {
      font-weight: 700;
      vertical-align: top;
      margin-left: 15px;
    }
    &--left {
      float: left;
    }
    &--right {
      float: right;
    }
  }
  &__more {
    p {
      &::before {
        content: '';
        width: 24px;
        height: 1px;
        background-color: #999;
        display: inline-block;
        margin: 5px 7px 5px 0;
      }
    }
  }
}
