@import "../../style/color.scss";

.sign-form {
  .back-btn {
    position: absolute;
    left: 10.83%;
    right: 87.36%;
    top: 9.84%;
    bottom: 88.12%;
  }
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .submit-group {
    margin-top: 22.5px;

    .ant-checkbox-wrapper:hover .ant-checkbox-inner,
    .ant-checkbox:hover .ant-checkbox-inner,
    .ant-checkbox-input:focus + .ant-checkbox-inner {
      border-color: $blue;
    }
    .ant-checkbox-checked .ant-checkbox-inner {
      background-color: $blue;
      border-color: $blue;
    }

    .ant-checkbox-inner {
      width: 20px;
      height: 20px;
      &::after {
        top: 43%;
        height: 12px;
      }
    }
    .ant-checkbox-wrapper {
      text-align: center;
      display: block;
      font-size: 12px;
    }

    .ant-btn {
      margin-top: 66.5px;
      width: 268px;
      height: 30px;
      font-size: 12px;
      color: $white;
      background-color: #c4c4c4;
      border-radius: 4px;
      border: none !important;
    }
  }

  .input-group {
    > .ant-input {
      border-radius: 4px;
      margin-bottom: 6.5px;
      border: 1px solid $blue;
      height: 30px;
    }
    .ant-input {
      box-shadow: none;
      font-size: 10px;
      font-size: 12px;
    }

    .ant-input-wrapper {
      margin-bottom: 6.5px;

      .ant-input {
        box-shadow: none;
        height: 30px;
        border-radius: 4px;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
        border: 1px solid $blue;
      }
      .ant-input-search-button {
        width: 95px;
        font-size: 10px;
        height: 30px;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
        background: $blue;
        border-color: $blue;
        border: none !important;
      }
    }

    .confirm .ant-input {
      border-color: #26d8ff;
    }
  }
}
