@import '../../style/color.scss';

.container {
  .error {
    color: red;
    font-size: 0.6em;
  }
  margin: 0 auto;
  width: 80%;
  display: flex;
  .backBtn {
    padding: 0 9px;
    text-align: left;
  }
  .termsContent {
    padding: 20px;
    top: 0;
    right: 0;
    left: 0;
    position: fixed;
    overflow: auto;
    background-color: white;
    bottom: 0;
    max-width: 700px;
    margin: 0 auto;
    .header {
      margin: 20px 0 20px 0;
      display: flex;
      justify-content: flex-end;
    }
  }

  .content {
    //padding: 0 46px;
    margin: 63px auto 0 auto;
    display: flex;
    flex-direction: column;
    .signUp {
      padding: 0 9px;
      margin-bottom: 22px;
      .header {
        margin-top: 54px;
        margin-bottom: 30px;
        font-weight: bold;
        font-size: 18px;
      }

      .input-group {
        .ant-input {
          box-shadow: none;
          font-size: 0.9em;
        }
        > .ant-input {
          border-radius: 4px;
          margin-bottom: 6.5px;
          border: 1px solid $blue;
          height: 40px;
        }

        .ant-input-wrapper {
          margin-bottom: 6.5px;

          .ant-input {
            box-shadow: none;
            height: 40px;
            border-radius: 4px;
            border-top-right-radius: 0px;
            border-bottom-right-radius: 0px;
            border: 1px solid $blue;
          }

          .ant-input-group-addon {
            width: 30%;
          }
          .ant-input-search-button {
            width: 100%;
            font-size: 0.9em;
            height: 40px;
            border-top-right-radius: 4px;
            border-bottom-right-radius: 4px;
            background: $blue;
            border-color: $blue;
            border: none !important;
            &:disabled {
              color: $white;
            }
          }
        }

        .confirm .ant-input {
          border-color: #26d8ff;
        }
      }
    }

    .submit-group {
      margin-top: 22.5px;
      .ant-checkbox-wrapper {
        //margin: 0 auto;
        width: 160px;
        display: block;
        font-size: 13px;
      }

      .ant-checkbox-inner {
        width: 20px;
        height: 20px;
        &::after {
          top: 43%;
          height: 12px;
        }
      }

      .checkbox-group {
        margin-bottom: 5px;
        .ant-checkbox-wrapper {
          width: 65px;
          display: inline-block;
        }
      }
      .ant-checkbox-group {
        //margin: 0 auto 10px auto;
        margin-bottom: 10px;
        display: flex;
        width: 140px;
      }

      .ant-checkbox-wrapper:hover .ant-checkbox-inner,
      .ant-checkbox:hover .ant-checkbox-inner,
      .ant-checkbox-checked::after,
      .ant-checkbox-input:focus + .ant-checkbox-inner {
        border: 1px solid $blue;
      }
      .ant-checkbox-wrapper {
        &-checked {
          &.gender_disable {
            .ant-checkbox-inner {
              background-color: #999999;
              border-color: #999999;
            }
          }
          .ant-checkbox-inner {
            background-color: $blue;
            border-color: $blue;
          }
        }
      }

      .ant-btn {
        margin-top: 66.5px;
        width: 100%;
        height: 40px;
        font-size: 14px;
        color: $white;
        background-color: #c4c4c4;
        border-radius: 4px;
        border: none !important;
        &.active {
          background-color: $blue;
        }
      }

      .terms-group {
        .ant-checkbox-wrapper {
          display: inline-block;
        }
        .ant-btn {
          font-size: 12px;
          margin: 0;
          height: auto;
          width: auto;
          display: inline-block;
          background-color: $blue;
        }
      }
    }
  }
}

// 회원가입 완료페이지
.completion {
  text-align: center;
  height: 100vh;
  min-height: 100vh;
  width: 100%;
  display: table;
  &__wrap {
    display: table-cell;
    vertical-align: middle;
    p {
      font-size: 1.4em;
      margin-bottom: 0;
      color: #000000;
      font-family: Noto Sans;
      font-weight: 400;
      strong {
        color: $blue;
      }
    }
    button {
      width: 79.58%;
      background-color: $blue;
      text-align: center;
      border-radius: 4px;
      padding: 0.8em;
      font-size: 1.1em;
      margin-top: 1.4285714285714286em;
      color: #fff;
    }
  }
}

.main_container {
  padding-bottom: 0;
}

.Dialog {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.144);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1001;
  &-wrap {
    box-shadow: 0px 0px 18px -2px #444;
    border-radius: 5px;
    display: inline-block;
    background: $white;
    height: max-content;
  }
}

.date-list {
  text-align: center;
  display: flex;
  justify-content: space-between;
  //margin: 10px;
  // > div {
  //   height: 100%;
  // }
  .item {
    width: 32px;
    height: 57px;
    height: 100%;
    border-radius: 30px;
    div {
      border-radius: 20px;
      box-sizing: border-box;
      width: 32px;
      height: 32px;
      display: flex;
      align-items: center;
      justify-content: center;
      span {
        font-weight: 600;
        font-size: 12px;
      }
    }
    p {
      font-weight: 500;
      font-size: 10px;
      font-size: 10px;
      color: rgba(0, 0, 0, 0.3);
    }
    &.active {
      background: rgba(38, 86, 255, 0.5);
      div {
        background: #2656ff;
        border: 2px solid #2656ff;
        span {
          color: $white;
        }
      }
      p {
        font-weight: 600;
        color: $white;
      }
    }
    &.sat > div > span {
      color: #fa4b00;
    }
    &.sun > div > span {
      color: #2656ff;
    }
  }
}
