.FeedContainer{
    /* height:912px; */
    width:100%;
    padding:0 5%;
}
.FeedUser{
    width:100%;
    height:100px;
    display:flex;
    border:1px solid;
    align-items: center;
}
.user_image{
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
  
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
} 
.user_name{
    margin-left:30px;
}
.Feed_Content{
    margin:0 auto;
    width:100%;
    border:1px solid;
}
.content_zone{
    max-width:600px;
    width:100%;
}
.content_feature{
    width:300px;
    height:60px;
    display:flex;
    align-items:center;
    box-sizing:border-box;
} 
.bar-item{display:flex;}
.bar-item + .bar-item{margin-left:30px;}
.bar-icon{width:30px;height:30px;font-size:0;display:block;margin-right:5px;}
/*좋아요리스트모달*/
.likelist{display:flex;}