.preloadImage {
  position: relative;
  width: 100%;
  height: 500px;
  background-color: #222222;
} 
.twopreloadImage{
  position: relative;
  width: 100%;
  height: 500px;
  background-color: #222222;
}
.threepreloadImage{
  position: relative;
  width: 100%;
  height: 500px;
  background-color: #222222;
}