.termsContent {
  z-index: 1000;
  padding: 20px;
  top: 0;
  right: 0;
  left: 0;
  position: fixed;
  overflow: auto;
  background-color: white;
  bottom: 0;
  max-width: 700px;
  margin: 0 auto;
  .header {
    margin: 20px 0 20px 0;
    display: flex;
    justify-content: flex-end;
  }
}
