@import '../../style/color.scss';

// 로그인폼 공통스타일
.login {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  text-align: center;
  overflow: hidden;
  padding-bottom: -50px;
  &__FormWrap {
    width: 55.555%;
  }
  &__logo {
    margin-bottom: 30px;
    img {
      width: 75%;
    }
  }

  .ant-form {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .loginForm {
    width: 100%;
    font-size: 1.1em;
    padding: 0.5em;
    display: block;
    border: 1px solid $blue;
  }

  //로그인폼 개별스타일
  &__id {
    margin-bottom: 1.2em;
  }
  &__pw {
    margin-bottom: 4.2em;
  }
  &__btn {
    background-color: #b0b0b0 !important;
    color: $white !important;
    border: none !important;
    background-color: $blue !important;
    border-radius: 4px;
    height: auto;
  }
  &__link {
    margin-top: 1.8em;
    li {
      display: inline-block;
      &::after {
        width: 1px;
        height: 14px;
        background: #4b4b4b;
        content: ' ';
        margin: -1px 2em;
        display: inline-block;
      }
      &:nth-child(3) {
        padding-right: 0;
        &::after {
          display: none;
        }
      }
      a {
        color: $loginText;
        display: inline-block;
      }
    }
    &-center {
      &::after {
        left: 92px !important;
      }
    }
    .blue {
      color: $blue;
    }
  }
}

@media (min-width: 481px) and (max-width: 620px) {
  .login {
    &__FormWrap {
      width: 75%;
    }
  }
  .login__pw {
    margin-bottom: 2.2em;
  }
  .login__link li::after {
    margin: -1px 2em;
  }
  .main_container {
    padding-bottom: 0;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .login {
    &__FormWrap {
      width: 75%;
    }
    &__id {
      margin-bottom: 1em;
    }
    &__pw {
      margin-bottom: 2.2em;
    }
    &__link {
      margin-top: 1.2em;
    }
  }

  .login__link li::after {
    margin: -1px 0.6em;
  }
}

.Dialog {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.144);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1001;
  &-wrap {
    box-shadow: 0px 0px 18px -2px #444;
    padding: 20px;
    border-radius: 5px;
    display: inline-block;
    background: $white;
    height: max-content;
    width: 70%;
    max-width: 300px;
    p {
      font-size: 0.5em;
      text-align: left;
      margin-bottom: 10%;
      color: #b0b0b0;
    }
    .confirm {
      color: $white !important;
      border: none !important;
      background-color: $blue !important;
      border-radius: 4px;
      width: 100%;
    }
  }
}
