.calendar_area{
    display:flex;
    justify-content: space-between;
}
.calendar{
    display:flex;
    align-items: center; 
    justify-content: center;
}
.todayText{
    font-size: 24px;
    font-weight:bold;
    color:#2F1C66;
}
.striplist{
    display:flex;
    justify-content: space-between;
} 
.active{
    background-color: #6A3DE6;
    width:20px;
    height:25px;
    padding-left:4px;
    padding-top:2px;
    color:#fff;
} 