a{
    text-decoration: none;
}
.Login_area{
    margin-top:50%;
    display:flex;
    justify-content:center;
    align-items:center;
}
.Login_area > a > button{
    background-color: #6A3DE6;
    color:white;
    width:328px;
    height:54px;
    border-color:#6A3DE6;
}
