
.profile_area{
    margin:20px 0 0 0;
    background:#FFF;
}

.profile_info_area{
    display:flex;
    flex:1;
}
.profile_follow_area{
    display: flex;
 }
 .profile_follow_area > li{
    margin: 0 10px 0 0;
 }
 .profile_nickname{
     font-size:36px;
     font-weight: bold;
 }
.profile_text_area{
    margin-left:25px;
}
.user_profile_image{
    width: 100px;
    height: 100px;
    border-radius: 50%;
  
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
} 
.follow_btn{background: url("../../assets/Button/follow.png") no-repeat left top/ 100% auto; width:70px; height:50px;border-style: none;border-radius:3px;}
.following_btn{background: url("../../assets/Button/following.png") no-repeat left top/ 100% auto; width:70px; height:50px;border-style: none;border-radius:3px;}