
.profile_area{
    background:#FFF;
}
.profile_follow_area{
    display:flex;

}
.profile_info_area{
    
}
.profile_text_area{
    
}
.user_profile_image{
    float:left;
    width: 100px;
    height: 100px;
    border-radius: 50%;
  
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}