.addsubject_container{
    background:#FFF;
}
.selectbox{
    width:100%;
}
.add_area{
    display:flex;
    justify-content: space-between;
    margin-bottom:20px;
}
.add_area .subject_input{
    width:100%;
}
.today_font{
    font-size:24px;
    font-weight:bold;
}
.todo_area{

    margin:30 0px;
}
.todotext_area{
    width:100%;
    height:10%;
}
.addsubjct_btn{
    background: #6A3DE6;
    color: #fff;
    width:163px;
    height:43px;
    border-radius:4px; 
}
.todo_input{
    background-color:#F6F4FC;
    width:80%;
    height:128px;
    border-radius:5px;
    border-color:transparent;
    opacity:0.5
}
.subject_input{
    width:409px;
    height:54px;
    margin-right:69px;
    background-color:#F6F4FC;
    border-color:transparent;
}

.subject_add_btn{
    background-color:#6A3DE6;
    color:#fff;
    height:54px;
    width:111px;
    border-radius:4px;
}
input::placeholder{
    text-indent: 10px;

}
.todo_input_font{
    display:inline-block;
    top: 50px;
    left:20px;
    position: relative;
    font-size:24px;
    font-weight: bold;

}
.subject_add_btn{
    width:60%
}
.todo_area_font{
}