.calendar_area{
    display:flex;
    justify-content: space-between;
}
.calendar{
    display:flex;
    align-items: center; 
    justify-content: center;
}
.todayText{
    font-size: 14px;
    font-weight:bold;
}
.striplist{
    display:flex;
    justify-content: space-between;
} 
.active{
    background-color: #5858E1;
    color:#fff;
} 