@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
  font-family: 'Lato', sans-serif;
}
.main_container{
  width:768px;
  border:1px solid;
}
