.foot_bar{position:fixed;width:100%;left:0;bottom:0;z-index:1000;background:#fff;border:1px solid}
.foot_bar_wrap {max-width:700px; margin:0 auto; width:100%;display:flex;justify-content:space-evenly; height:50px; align-items:center; space-between:center}
.foot_bar_img{height:50px;}